<div style="background-image: url(assets/images/not-ready.png); background-repeat: no-repeat; background-position: center bottom;"></div>

<div style="display: grid;justify-content: center;align-content: flex-start;">
    <p style="font: normal normal 600 30px/46px Poppins; letter-spacing: 0px; color: #131523;text-align: center;">Oops! 404</p>
    <p style="font: normal normal 600 30px/46px Poppins; letter-spacing: 0px; color: #131523;text-align: center;"> Requested page not found! </p>
    <!-- <p style="font: normal normal 300 18px/27px Poppins;text-align: center;"> Requested page not found! <strong> fedo.health </strong> and provide your <strong> email </strong> for an invite. </p> -->

    <div style="display: grid; height: max-content; padding-top: 4rem;justify-self: center;">
        <!-- <a style="background: #F3F7FD 0% 0% no-repeat padding-box; border: 1px solid #D8E1EF; border-radius: 6px;" href="https://fedo.health/"> fedo.health </a> -->
        <a style="background: #472F91 0% 0% no-repeat padding-box; border-radius: 6px;color: #fff;" routerLink="/login"> login </a>
    </div>
</div>